html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  color: rgb(68, 68, 68);

    font-family: 'Open Sans', sans-serif;
}

header {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/servers.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin: auto;
}

.container-fluid {
  padding: 0px;
}

.divide {
  width: 35%;
  border-top: 1px solid #cb1212;
  margin-left: 32.5%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #cb1212;
  margin: auto;
  margin-bottom: 2rem;
}

/* flex-wrap: wrap; */

.menu {
  right: 0;
  text-transform: uppercase;
  border: 0;
  font-size: 15px;
  transition-duration: 0.5s;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-box-shadow: 0px 5px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 13px -6px rgba(0, 0, 0, 0.75);
}

.menuscroll {
  margin-top: 0px;
}

/* footer{
  height: auto;

} */

p {
  color: #5f5f61;
}

#benefits P {
  text-align: center;
  font-size: 1.75rem;
  /* font-weight: bold; */
  margin-bottom: 2rem;
}

#section2 .arrow-down {
  margin-bottom: 4rem;
}

.container {
  min-width: 95%;
}

#section2 .row {
  margin-top: 4rem;
}

.container-mrgin {
  margin-left: 15%;
  margin-right: 15%;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.75rem;
  text-align: left;
  margin-bottom: 1.75rem;
  transform: scaleY(1.2);
  color: rgb(68, 68, 68);
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size:2rem;
  text-align: center;

  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.col-left{
  margin-right: 2%;
}
.col-right{
  padding-top: 1%;
  margin-left: 2%;
}
.thumb {
  float: left;
  color: #3798d9;
  text-align: center;
  width: 60px;
  font-size: 2.9rem;
}

.thumb-small {
  float: left;
  color: #ffffff;
  text-align: center;
  width: 30px;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: none;
}

h1 {
  transform: scaleY(1.2);
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

h4 {

  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 5px;
  padding-left: 80px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer h4{

    font-size: 1.8rem;
    letter-spacing: 1px;
        padding-left: 0px;
}
footer h4::first-letter{
  color:   #3798d9;

}

.col-sm a:hover {
  color: #3798d9;
}

.col-sm a {
  color: rgb(68, 68, 68);
}

.col-sm p {
  text-align: center;
}

.different-img {
  min-height: 300px;
  width: 50%;
  background-image: url("img/hands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.diffrent-text {
  padding-left: 80px;
  padding-right: 20px;
}

.under-text {
  animation-delay: 0.4s;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 50px;
}

.under-text-small-icon {
  animation-delay: 0.4s;
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.thumb-text {
  animation-duration: 0.4s;
  animation-delay: 600ms;
  padding-bottom: 20px;
}

.logo {
  height: 80px;
  width: 150px;
  background-image: url("img/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 10em;
  transition-duration: 0.5s;
}

.logoscroll {
  margin-top: 0%;
  height: 65px;
  width: 120px;
}

.menu-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  list-style: none;
}

.fullboxmeu {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.70);
  z-index: 1;
  -webkit-box-shadow: 2px 4px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 13px -6px rgba(0, 0, 0, 0.75);
}

.fullboxmeuscroll {
  background-color: rgba(255, 255, 255, 0.68);
  transition-duration: 0.6s;
  height: 65px;
  -webkit-box-shadow: 2px 4px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 13px -6px rgba(0, 0, 0, 0.75);
}

.fullbox {
  min-width: auto;
  min-height: 500px;
}

.fullbox2 {
  min-width: auto;
  min-height: 700px;
}

.halfbox {
  width: 50%;
  height: 100px;
}

.halboxleft {
  float: left;
  background-color: rgb(191, 255, 0)
}

.halboxright {
  float: right;
  background-color: rgb(153, 48, 232);
  position: fixed;
  transition: .5s;
}

.quarterbox {
  width: 70%;
  height: 80px;
  margin-left: 15%;
  margin-right: 15%;
}

.logobox {
  z-index: 100;
}

.quarterboxright {
  width: 42%;
  float: right;
  background-color: rgb(81, 146, 232);
  )
}

.contentboxgrey {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #eaeaea;
}

.contentboxgreyhands {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  background-color: #eaeaea;
}

.contentboxwhite {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.contentboxwhite2 {
  margin-top: 5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.content-box-empty {
  color: white;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/parallax.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

footer {
color: #CCC;
  background-color: #282828;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

footer p {
    color: #CCC;
    font-size: 0.9rem;
}
p{
  color: #ffffff;

}

.certificate{
  padding: 20px;
    background-image: url("img/rzetelnafirma.png");
}

.block {
  margin: 3rem 5rem;
  width: 50%;
  height: 8%;
  border-bottom: 1px solid #F15C5C;
}

.contact1 {
  font-size: 26px;
  color: #dedede;
  font-weight: bold;
}

.contact2 {
  margin-left: 5px;
  font-size: 26px;
  color: #cb1212;
  font-weight: bold;
}

.center {
  padding-left: 2%;
  padding-right: 2%;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10%;
}

.icon-small {

  font-size: 1.5rem;
  text-align: center;
      position: relative;
}

.icon-small::before{
  content: "";
  position: absolute;
  right: 55%;
  height: 2px;
  width: 55px;
  background: #3798d9;
  top: 50%;

  margin-right: 10px;
}

.icon-small::after{
  content: "";
  position: absolute;
  left: 55%;
  height: 2px;
  width: 55px;
  background: #3798d9;
  top: 50%;

  margin-left: 10px;
}
.padding-bottom{
  padding-bottom: 5%;
}

.odometer-text {
    transform: scaleY(1.1);
    letter-spacing: 1px;
  font-size: 1rem;
font-weight: 700;
font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
    text-align: center;
    -webkit-font-smoothing: antialiased;

}

.service {
  background-image: url("img/icon/customer-service.png");
}

.linechart {
  background-image: url("img/icon/line-chart.png");
}

.scheme {
  background-image: url("img/icon/scheme.png");
}

.settings {
  background-image: url("img/icon/settings.png");
}

@media (min-width: 1200px) .container {
  max-width: 1140px;
  flex-direction: row;
}

@media screen and (max-width: 2000px) {}

.margintop {
  margin-top: 30px;
}

.container {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: auto;
}

.container-image {
  margin: auto;
  padding-top: 3%;
  padding: auto;
}

.container-transparent {
  margin: auto;
  padding: auto;
}

, on ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navigation ul li {
  display: inline-block;
}

#navigation ul li a {
  margin-top: 1rem;
  font-weight: bold;
  padding: 0 10px;
  color: #2b2b2b;
  font-family: 'Open Sans', sans-serif;
}

#navigation ul li a.active {
  color: #ff0000;
}

#navigation ul li a:hover {
  color: #ff0000;
  text-decoration: none;
}

#about {
  text-align: justify;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  color: #7a7a7a;
  font-weight: 400;
}

#ff9900 #about p {
  margin-bottom: 1%;
}

#about b {
  color: #ff9900;
}

#benefits ul {
  /* list-style-image: url('img/resize.png'); */
}

#benefits li {
  background: url('img/check-mark-3-24.png') no-repeat left top;
  /* <-- change `left` & `top` too for extra control */
  padding: 3px 0px 3px 6%;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #5f5f61;
}
